:root.theme-light {
  --accent-color: #ff8dcb;
  --header-color: #ffc2e6;
  --page-bg-image: url("../images/cover-image-light.png");
  --page-bg-color: #fff1f7;
  --menu-button: #353430;
  --accent-color-transparent: #32312d66;
  --main-text-color: #353430;
  --header-text-color: #353430;
}

.theme-light .watermark {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --header-color: #ffc2e6;
    --page-bg-image: url("../images/cover-image-light.png");
    --page-bg-color: #fff1f7;
    --menu-button: #353430;
    --accent-color-transparent: #32312d66;
    --main-text-color: #353430;
    --header-text-color: #353430;
  }

  .watermark {
    display: none;
  }
}
