.page {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
  background-image: var(--page-bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--page-bg-color);
  padding: 10px;
  padding-top: 0;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

.frame {
  position: relative;
}

.frame::before,
.frame::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-color: var(--menu-button);
  border-style: solid;
  border-width: 0;
}

.frame::before {
  position: absolute;
  top: 9px;
  right: 0;
  border-right-width: 1px;
  border-top-width: 1px;
}

.frame::after {
  position: absolute;
  border-left-width: 1px;
  border-bottom-width: 1px;
  bottom: 11px;
  left: 0;
}

.watermark {
  font-family: var(--font-family);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  position: absolute;
  right: 28px;
  top: 11px;
  color: var(--accent-color);
}

.watermark:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 42px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 3px var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self: end;
  gap: 10px;
  list-style: none;
  padding-top: 10px;
}

.header__theme-menu-button {
  font-family: var(--font-family);
  text-transform: lowercase;
  background-color: transparent;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  color: var(--menu-button);
  border: none;
  outline: 1px solid transparent;
  width: 70px;
  height: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-transpandent);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--menu-button);
}

.header__theme-menu-button:focus-visible {
  border: none;
  outline: 1px solid var(--menu-button);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--menu-button);
}

.header_title {
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--header-color);
}

.text_header {
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-weight: var(--font-weight);
  color: var(--page-bg-color);
  line-height: 23.4px;
  padding-bottom: 10px;
}

.title-decor {
  font-family: var(--font-family);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  background-color: var(--accent-color);
  color: var(--header-text-color);
  font-weight: var(--font-weight);
}

.section_main {
  padding-top: 40px;
}

.main_text {
  font-family: var(--font-family);
  color: var(--main-text-color);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 23.4px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.main_title {
  font-family: var(--font-family);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: var(--font-weight);
  color: var(--menu-button);
  padding-bottom: 20px;
}

.section_main-tips {
  padding-top: 30px;
}

.section__title {
  font-family: var(--font-family);
  color: var(--menu-button);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  padding-top: 30px;
  padding-bottom: 22px;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--main-text-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--main-text-color);
}

.link:focus {
  outline: none;
  border: 1px solid var(--main-text-color);
}

.link:focus-visible {
  border: none;
  outline: 1px solid var(--main-text-color);
}

.title-decor-text {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: normal;
}

.title-decor-header {
  margin-bottom: 20px;
}

.text_header_images {
  margin-top: 35px;
  margin-bottom: 10px;
}

.images_block {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.images_block img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  margin-top: 40px;
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: 116px;
  line-height: 83%;
  color: var(--header-color);
  font-family: var(--font-family);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .page {
    padding: 20px;
    padding-top: 0;
  }

  .header {
    min-height: 1024px;
  }

  .frame::before {
    position: absolute;
    top: 20px;
  }

  .frame::after {
    position: absolute;
    bottom: 20px;
  }

  .watermark {
    right: 27px;
    top: 21px;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header_title {
    margin-left: -20px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
  }

  .text_header {
    line-height: 23.4px;
    padding-left: 364px;
  }

  .section_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    padding-top: 60px;
  }

  .main_title {
    grid-column: 1;
    min-width: 236px;
  }

  .content_block {
    grid-column: 2 / span 2;
  }

  .title-decor {
    line-height: 23.4px;
    grid-column: 2;
    grid-row: -1;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .main_text {
    grid-column: 3/-1;
    padding-top: 0;
  }

  .content-section {
    display: grid;
    grid-template-rows: auto 1fr;
    padding-top: 60px;
  }

  .section__title {
    max-width: 236px;
    min-height: 90px;
    padding: 0;
  }

  .title-decor-header {
    margin-bottom: 20px;
  }

  .section_main-tips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 60px;
    column-gap: 20px;
  }

  .text_header_images {
    margin-top: 60px;
    padding-left: 0;
    margin-bottom: 20px;
  }

  .images_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .block_one {
    grid-column: 1 / span 2;
  }

  .block_two {
    min-height: 100%;
    grid-column: 3;
    grid-row: span 2;
    object-fit: fill;
  }

  .block_three {
    min-height: 97%;
    grid-row: 2 / span 3;
  }

  .block_five {
    grid-column: 2 / span 2;
  }

  .footer {
    height: 100vh;
    min-height: 1024px;
  }

  .footer__title {
    font-size: 120px;
  }
}

@media (min-width: 1024px) {
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    padding-top: 18px;
  }

  .header_title {
    font-size: 157px;
  }

  .text_header {
    padding-left: 492px;
  }

  .content-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
  }
  .section__title {
    grid-column: 1/-1;
    max-width: 315px;
    min-height: 47px;
  }

  .text_header_images {
    padding-left: 0;
  }

  .footer {
    min-height: 768px;
    margin-top: 40px;
  }

  .footer__title {
    font-size: 157px;
  }
}
