.page {
  margin: 0 auto;
  padding: 0;
  background-image: var(--page-bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--page-bg-color);
  padding-left: 2.6%;
  padding-right: 2.6%;
}

.header {
  height: 100vh;
  max-height: 668px;
  display: grid;
  grid-template-rows: 43.6% 9%;
  align-items: center;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-color: var(--menu-button);
  border-style: solid;
  border-width: 0;
}

.decorated-zone::before {
  position: absolute;
  top: 1.5%;
  right: 0.1%;
  border-right-width: 1px;
  border-top-width: 1px;
}

.decorated-zone::after {
  position: absolute;
  bottom: 1.5%;
  left: 0.1%;
  border-left-width: 1px;
  border-bottom-width: 1px;
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
}

.decoration {
  font-family: var(--font-family);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  position: absolute;
  right: 8%;
  top: 1.8%;
  color: var(--accent-color);
}

.decoration:after {
  content: "";
  position: absolute;
  left: 43px;
  top: 50%;
  transform: translateY(-51%);
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 3px var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-top: 106%;
  list-style: none;
}

.header__theme-menu-button {
  font-family: var(--font-family);
  text-transform: lowercase;
  background-color: transparent;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  color: var(--menu-button);
  position: relative;
  border: none;
  outline: 1px solid transparent;
  width: 70px;
  height: 25px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-transpandent);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--menu-button);
}

.header__theme-menu-button:focus-visible {
  border: none;
  outline: 1px solid var(--menu-button);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--menu-button);
}

.header_title {
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight);
  line-height: 83%;
  letter-spacing: 0%;
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--header-color);
  margin-bottom: 0;
  margin-top: 25px;
}

.text_header {
  font-family: var(--font-family);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  margin-top: 27%;
  font-weight: var(--font-weight);
}

.title-decor {
  font-family: var(--font-family);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  background-color: var(--accent-color);
  color: var(--page-bg-color);
  font-weight: var(--font-weight);
  margin-bottom: 8%;
  margin-top: 5.6%;
}

.section_part {
  margin-top: 48px;
}

.section_main_column {
  margin-bottom: 14.5%;
}

.main_title {
  font-family: var(--font-family);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: var(--font-weight);
  color: var(--menu-button);
  margin-bottom: 20px;
  margin-top: 11%;
}

.main_title_column {
  font-family: var(--font-family);
  color: var(--menu-button);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  margin-top: 14%;
}

.main_title_bottom {
  font-family: var(--font-family);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: var(--font-weight);
  color: var(--menu-button);
  margin-bottom: 20px;
  margin-top: 11%;
}

.main_text {
  font-family: var(--font-family);
  color: var(--main-text-color);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 23.4px;
  margin-top: -18px;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--main-text-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  border-bottom: 1px solid var(--main-text-color);
}

.link:focus {
  outline: none;
  border: 1px solid var(--main-text-color);
}

.link:focus-visible {
  border: none;
  outline: 1px solid var(--main-text-color);
}

.bottom {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-weight: normal;
  margin-top: 5.6%;
}

.reorganisation {
  margin-bottom: 20px;
  margin-top: 22px;
}

.text_header_images {
  margin-top: 0;
}

.images_bottom {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.images_bottom img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text_header_item {
  margin-top: 49px;
  margin-bottom: 12px;
}

.footer {
  margin-top: 40px;
  height: 100vh;
  max-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: 116px;
  line-height: 83%;
  color: var(--header-color);
  font-family: var(--font-family);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {
  .page {
    padding-left: 0;
    padding-right: 1.5%;
  }

  .header {
    min-height: 1024px;
    height: 100vh;
    display: grid;
    grid-template-rows: 43.6% 9%;
    align-items: center;
  }

  .decorated-zone::before {
    position: absolute;
    top: 2%;
    right: 1.1%;
  }

  .decorated-zone::after {
    position: absolute;
    left: 19px;
    top: 95.5%;
  }

  .decoration {
    top: 2.1%;
    left: 91%;
  }

  .header__theme-menu {
    justify-self: end;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;

    padding-top: 240%;
    padding-right: 9px;
  }

  .header_title {
    margin-top: 5.5%;
  }

  .text_header {
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    margin-top: 2%;
    line-height: 23.4px;
    letter-spacing: 0%;
    padding-left: 50.7%;
    padding-right: 8px;
  }

  .section_main {
    display: grid;
    grid-template-columns: 32% 1fr;
    gap: 20px;
    margin-top: 8%;
    margin-right: 8px;
  }

  .main_title {
    grid-column: 1 / -1;
    font-weight: bold;
    margin-top: 0.5%;
    margin-left: 8%;
    margin-right: 1%;
  }

  .content_block {
    grid-column: -1;
    margin-bottom: 0;
    gap: 2%;
  }

  .title-decor {
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    line-height: 23.4px;
    grid-column: 2;
    grid-row: -1;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .main_text {
    grid-column: 3/-1;
    margin: 0;
  }

  .section_main_column {
    display: grid;
    grid-template-rows: 13% 1fr 1fr 1fr;
    gap: 4px;
    margin-top: 75px;
    margin-left: 2.7%;
    margin-right: 1%;
    margin-bottom: 11%;
  }

  .main_title_column {
    font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    font-weight: bold;
    margin-right: 77%;
    margin-top: 0.5%;
    margin-bottom: 0;
  }

  .main {
    margin-top: 10.5%;
    margin-right: 1%;
  }

  .reorganisation {
    margin-bottom: 4%;
  }

  .text_header_images {
    margin-top: 10.7%;
    padding-left: 2.5%;
    margin-right: 0;
    margin-bottom: 2.3%;
  }

  .images_bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 2.5%;
    padding-right: 1.5%;
  }
  .block_one {
    grid-column: 1 / span 2;
  }

  .block_two {
    min-height: 100%;
    grid-column: 3;
    grid-row: span 2;
    object-fit: fill;
  }

  .block_three {
    min-height: 97%;
    grid-row: 2 / span 3;
  }

  .block_five {
    grid-column: 2 / span 2;
  }

  .footer {
    margin-top: 5.5%;
    height: 100vh;
    max-height: 1024px;
    padding-left: 1.5%;
    padding-top: 1%;
  }

  .footer__title {
    font-size: 120px;
  }
}

@media (min-width: 1024px) {
  .page {
    padding-right: 0.9%;
  }

  .header {
    min-height: 768px;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 62% 1fr;
    grid-template-columns: 1fr;
    align-items: start;
  }

  .decoration {
    position: absolute;
    top: 2.7%;
    right: 3.9%;
    left: auto;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
    padding-top: 0.9%;
    padding-left: 2%;
  }

  .header__theme-menu-list {
    flex-direction: row;
    padding-top: 4%;
    margin-top: 0;
    margin-bottom: 0%;
  }

  .header_title {
    font-size: 157px;
    padding-top: 18.5%;
  }

  .text_header {
    margin-top: 1%;
  }

  .decorated-zone::before {
    top: 2.6%;
    left: 96.5%;
  }

  .decorated-zone::after {
    top: 94%;
  }

  .section_main {
    margin-top: 6%;
    margin-left: -1.1%;
    gap: 20px;
  }

  .section_main_column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 20px;
    margin-right: 8px;
    margin-left: 2%;
    margin-bottom: 8%;
  }
  .main_title_column {
    grid-column: 1/-1;
    margin-right: 65%;
  }

  .main {
    margin-top: 7.8%;
    margin-right: 0.9%;
  }

  .main_title {
    margin-top: 0;
    margin-left: 9%;
  }

  .reorganisation {
    margin-bottom: 3%;
  }

  .text_header_images {
    margin-top: 7.9%;
    padding-left: 2%;
    padding-right: 1%;
    margin-bottom: 2%;
  }
  .images_bottom {
    padding-left: 2%;
    padding-right: 1%;
  }

  .footer {
    height: 100vh;
    min-height: 768px;
    margin-top: 3.8%;
  }

  .footer__title {
    font-size: 157px;
    margin-bottom: 2%;
    margin-right: 2%;
  }
}
